name: CI

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            python-version: [2.7, 3.6]
            os: [ubuntu-18.04, ubuntu-20.04]
        steps:
            - name: Checkout Code
              uses: actions/checkout@v2

            - name: Setup python
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install APT On Linux # This step for just installing skrobot on py 2x...
              run: |
                sudo apt-get update -qq -y
                sudo apt-get install -qq -y libspatialindex-dev freeglut3-dev libsuitesparse-dev libblas-dev liblapack-dev

            - name: pip install this package
              run: |
                  pip install -e .

            - name: pip install pytest
              run: |
                  pip install pytest

            - name: Run Pytest
              run: |
                  pytest -v tests
